html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.week-row {
}

.week-col {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border: solid 1px;
    border-left: 0;
    border-bottom: 0;
    border-color: black;
}

.week-col:first-child {
    border-left: solid 1px;
    border-color: black;
}

.days-row:last-child {
    border-bottom: solid 1px;
    border-color: gray;
}

.day {
    width: 100px;
    height: 100px;
    border: solid 1px;
    border-bottom: 0;
    border-right: 0;
    border-color: gray;
}

.day:last-child {
    border-right: solid 1px;
    border-color: gray;
}